{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "parser": "babel-ts"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.css", "*.module.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.sass", "*.scss"],
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.mdx"],
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
