@use '../../../theme';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: theme.$footer-height;
  background: theme.$background-color;

  &__text {
    color: theme.$font-color-light;
  }

  &__author {
    color: theme.$primary-color;
  }
}
