@use './theme';

// Reset css (see http://necolas.github.io/normalize.css/)
@import 'normalize.css';

ul {
  padding: 0px;
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

input,
textarea,
button,
select,
a {
  text-decoration: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
