@import './colors';

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/image.jpg);
  background-size: cover;
  font-family: 'Avenir', sans-serif;
  color: $font-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: $background;
}

.page-content {
  padding: 30px;
}
