@import './colors';

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/image.jpg);
  background-size: cover;
  font-family: 'Avenir', sans-serif;
  color: $font-color;
}

button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 20px;
}

button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

button:active {
  position: relative;
  top: 1px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: $background;
}

.page-content {
  padding: 30px;
}
