@use '../../theme';

.locale-select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid theme.$font-color-light;

  &__button {
    color: theme.$font-color-light;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    &_active {
      text-decoration: underline;
    }
  }
}
