@use '../../../theme';

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - (#{theme.$header-height} + #{theme.$footer-height}));
}
