import React from 'react';
import { Helmet } from 'react-helmet-async';

const Page: React.FC<any> = () => {
  return (
    <>
      <Helmet>
        <title>{{sentenceCase pageTitle}}</title>
      </Helmet>
      <h1>{{sentenceCase pageTitle}}</h1>
    </>
  );
};

export default Page;
